body {
    background-color: black;
    position: relative;
}

.space {
    background-image: url("../res/space.png");
    display: flex;
    height: 97vh;
    margin: auto;
    position: relative;
    width: 80%;
}

.planet-area {
    bottom: 0;
    position: relative;
    width: 40%;
}

.planet {
    bottom: -250px;
    left: -5px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.rocket {
    bottom: 190px;
    left: 250px;
    position: relative;
    transform: rotateZ(30deg);
    width: 40%;
}

.control-panel {
    background-color: dimgray;
    border: 5px solid black;
    border-radius: 20px;
    display: block;
    height: 250px;
    margin: auto;
    text-align: center;
    width: 300px;
}

.control-panel input {
    float: start;
    margin-top: 10px;
}

.check-buttons {
    clear: both;
    display: flex;
    justify-content: center;
}

.check-buttons input[type="checkbox"] {
    margin: 10px 15px;
}

.levers {
    display: flex;
    justify-content: center;
    margin: 70px;
}

.levers input[type="range"] {
    margin: -40px;
    transform: rotate(-90deg);
}
