body {
    background-color: black;
    position: relative;
}

.space {
    background-image: url("../res/space.png");
    display: flex;
    height: 97vh;
    margin: auto;
    position: relative;
    width: 80%;
}

.planet-area {
    bottom: 0;
    position: relative;
    width: 40%;
}

.planet {
    bottom: -250px;
    left: -5px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.rocket {
    bottom: 190px;
    left: 250px;
    position: relative;
    transform: rotateZ(30deg);
    width: 40%;
}

.control-panel {
    align-items: center;
    background: repeating-linear-gradient(
            45deg, black, black 10px, yellow, yellow 10px, yellow 20px);
    border-radius: 20px;
    display: flex;
    height: 300px;
    justify-content: center;
    margin: auto;
    width: 320px;
}

.control-panel__inner {
    background-color: dimgray;
    border-radius: 20px;
    display: block;
    height: 280px;
    text-align: center;
    width: 300px;
}

.control-panel input {
    float: start;
    margin-top: 10px;
}

.check-buttons {
    clear: both;
    display: flex;
    justify-content: center;
}

.check-buttons input[type="checkbox"] {
    margin: 10px 15px;
}

.levers {
    display: flex;
    justify-content: center;
    margin: 70px;
}

.levers input[type="range"] {
    margin: -40px;
    transform: rotate(-90deg);
}

.control-panel__inner input[type="password"] {
    background-color: dimgray;
    border: yellow 2px solid;
    border-radius: 5px;
    color: white;
}

.control-panel__inner input[type="password"]::placeholder {
    color: white;
}

#ok-btn {
    background-color: yellow;
    border: black 2px solid;
    border-radius: 5px;
    color: black;
}

#launch-btn {
    background-color: red;
    border: white 2px solid;
    border-radius: 50%;
    color: white;
    height: 50px;
}